/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=YourFontsHere'); // Reemplaza con tus fuentes

@font-face {
  font-family: 'para';
  src: url('/assets/fonts/para_supreme_light_fine-webfont.woff2') format('woff2'),
       url('/assets/fonts/para_supreme_light_fine-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'begum';
  src: url('/assets/fonts/begum-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/begum-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt-commons';
  src: url('/assets/fonts/ttcommons-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/ttcommons-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}